.add-image-upload p{
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}
.add-image-upload label{
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap: 20px;
}

.add-image-upload img{
    width: 120px;
}

.add-product-name .add-product-description{
    width: max(40%, 280px); 
}

.add-product-name input, .add-product-description textarea{
    padding: 20px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input{
    padding: 10px;
    width: 120px;
}
.add-btn{
   max-width: 120px;
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
}