.list-add{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 600px;
    gap: 30px;
    margin-left: 40px;
}


.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 70px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format title{
    background-color: #f9f9f9;
    align-items: center;
}
.list-table-format img{
    border-radius: 50px;
}

@media (max-width: 600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 20px;
    }
    .list-table-format .title{
        display: none;
    }
}